<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scblock.wxchat.mapper.UserMapper">
    <sql id="user">
        id,
        username AS userName,
        password ,
        rule,
        crate_time AS createTime,
        last_login_time AS lastLoginTime,
        activation
    </sql>
    <!--  增加新的用户  -->
    <insert id="insert">
        insert into users(username, password, rule, create_time, last_login_time, activation)
        values(#{userName}, #{password}, now(), now(), #{activation})
    </insert>
    <!--  根据用户名查询用户信息  -->
    <select id="selectUserByName" resultMap="selectUserMap" parameterType="java.lang.String">
        SELECT id, username AS userName, password, activation from users where username = #{username}
    </select>
    <resultMap id="selectUserMap" type="com.scblock.wxchat.entity.User">
        <id column="id" property="id"/>
        <result column="username" property="userName"/>
        <result column="password" property="password"/>
        <result column="acvivation" property="activation"/>
        <collection property="rules" column="id" ofType="com.scblock.wxchat.entity.Rule" select="com.scblock.wxchat.mapper.RuleMapper.findRulesById"/>
    </resultMap>
</mapper>